body {
  padding: 10px;
}

h1 {
  color: darkblue;
}

a, a:visited {
  color: blue;
  margin-left: 10px;
}

table {
  text-align: center;
}

td {
  width: 150px;
  height: 40px;
}

.disabled-link {
  pointer-events: none;
}

.enabled-link {
	pointer-events: visible;
}